<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylll.core.mybatis.mapper.LogMapper" >
    <resultMap id="BaseResultMap" type="com.ylll.core.mybatis.model.Log" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="module" property="module" jdbcType="VARCHAR" />
        <result column="methods" property="methods" jdbcType="VARCHAR" />
        <result column="action" property="action" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="actiontime" property="actiontime" jdbcType="VARCHAR" />
        <result column="userip" property="userip" jdbcType="VARCHAR" />
        <result column="opertime" property="opertime" jdbcType="VARCHAR" />
    </resultMap>
</mapper>